<h2>Sign up</h2>
<% form_for(@user) do |f| %> 
	
		<%= f.error_messages %>	
	
	<div class="field1">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field1">
		<%= f.label :email %><br /> 
		<%= f.text_field :email %>
	</div>
	<div class="field1">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div class="field1">
		<%= f.label :password_confirmation, "Confirmation" %><br />
		<%= f.password_field :password_confirmation %> 
	</div>
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div> 
<% end %>